[submodule "google-maps"]
	path = google-maps
	url = https://github.com/emacsmirror/google-maps.git
[submodule "org-sync2"]
	path = org-sync2
	url = https://github.com/emacsmirror/org-sync.git
[submodule "google-contacts"]
	path = google-contacts
	url = http://git.naquadah.org/git/google-contacts.el.git
[submodule "cedet-src"]
	path = cedet-src
	url = https://git.gitorious.org/cedet-mirror/cedet-mirror.git
[submodule "ecb"]
	path = ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule "org-outlook"]
	path = org-outlook
	url = https://github.com/emacsmirror/org-outlook.git
[submodule "litable"]
	path = litable
	url = https://github.com/Fuco1/litable.git
[submodule "omnisharp"]
	path = omnisharp
	url = https://github.com/jimhansson/omnisharp-emacs.git
